<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%- #Form Creation Code %>
  <%= form_for @user do |f| %>

    <p>
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname%>
    </p>
    <p>
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email%>
    </p>
    <p>
      <%= link_to "Create Inquiry", new_inquiry_path %>
    </p>
  <% end %>
<% end %>