<h1>Showing the newly created Inquiry.</h1>

<p>
  First Name: <%= @user.firstname %>
</p>

<p>
  Last Name: <%= @user.lastname %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<p>
   Check-In: <%= @user.checkin %>
</p>

<p>
  Check-Out: <%= @user.checkout %>
</p>


