<h1 align = "center">Welcome to Sonder Customer Support HomePage</h1>

<p>
  <%= link_to 'Show all Users', users_path %> || <br/>
  <%= link_to 'Create New Users', users_path %> ||
</p>
<p>
  <%= link_to 'Show all Units', units_path %> || <br/>
  <%= link_to 'Create New Units', units_path %> ||
</p>
<p>
  <%= link_to 'Show all Inquiries', inquiries_path %> || <br/>
  <%= link_to 'Create new Inquiries', inquiries_path %>
</p>